<div class="dish-card">
  <div class="dish-card-header">
    {{dish_name}}
  </div>
  <div class="card-body">
    <p>
      Description:
      {{description}}
      {{#if has_nuts}}
      omg, has nuts
      {{/if}}

      {{#unless has_nuts}}
      All Good, there are no nuts.
      {{/unless}}

    </p>
    <!-- TODO: Use a built-in helper to display "Contains Nuts" if a food item contains nuts.-->
  </div>
</div>